{:canonical-format :edn
 :canonical-path "lex"
 :generated-path "lexicons"
 :imported-from {:repository "etzhayyim/root" :revision "691c245da48f3acb11dd757218f189ff2482b1c8"}
 :generator {:repository "etzhayyim/com-etzhayyim-lexicons-bundle"
             :revision "c78dfb9764c952b770d47553cd110768d6f7c336"
             :script "scripts/project-edn-lexicons.clj"}}
